<section class="section products-section">
  <div class="container products-container">
    <span  class="products-contsiner__titled-label">100% natutal</span>
    <h1 class="products-container__titled">PRODUCTS</h1>
<ul class="products-container__menu">
<li class="products-container__item">
  <h2 class="products-container__item--titled"> ice cream</h2>
  <p class="products-container__item--informed">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</li>
<li class="products-container__item">
  <h2 class="products-container__item--titled"> ice cream</h2>
  <p class="products-container__item--informed">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</li>
<li class="products-container__item">
  <h2 class="products-container__item--titled"> ice cream</h2>
  <p class="products-container__item--informed">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</li>
</ul>


  </div>
</section>
